.my-header {
    height: 100px;
   
}

.my-input {
    margin: 5px 0px 5px 0px;
}

.my-aside {
    width: 300px;
    padding-bottom: 20px;
}

.my-button {
    border-bottom: black solid;
    margin-top: 20px;
}


.my-city-info {
    border: black solid;
    width: 75vw;
    height: 300px;
    margin-left: 10px;
    
}

.my-cities {

    margin-top: 5px;
}

.five-day {
    width: 225px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px lightblue;
    
}

.weather-style {
    padding: 10px;
}

.icon {
    height: 100vw;
}