.my-header {
    height: 100px;
   
}

.my-input {
    margin: 5px 0px 5px 0px;
}

.my-aside {
    width: 300px;
    padding-bottom: 20px;
}

.my-button {
    border-bottom: black solid;
    margin-top: 20px;
}


.my-city-info {
    border: black solid;
    width: 75vw;
    height: 300px;
    margin-left: 10px;
    
}

.my-cities {

    margin-top: 5px;
}

.five-day1, .five-day2, .five-day3, .five-day4, .five-day5 {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px lightblue;
    /* display: none; */
}

.my-five-day {
    /* display: none; */
    
}

